@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    backdrop-filter: blur(3px); /* Adjust the pixel value to achieve the desired blur intensity */
    background-color: rgba(21, 23, 25, 0.5); /* Black (#151719) with 50% opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    z-index: 1000; /* Ensures the header stays above other content */
  }
  
  .large-header, .large-subheader {
    font-size: calc(5vh + 2rem);
    overflow: hidden;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 600px) {
    .large-header {
        font-size: 2.5rem; /* Adjust as needed */
    }
    .large-subheader {
        font-size: 2rem; /* Adjust as needed */
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .large-header {
        font-size: 4rem; /* Adjust as needed */
    }
    .large-subheader {
        font-size: 3.5rem; /* Adjust as needed */
    }
}

@media screen and (min-width: 1201px) {
    .large-header {
        font-size: 5rem; /* Adjust as needed */
    }
    .large-subheader {
        font-size: 4rem; /* Adjust as needed */
    }
}


.styled-highlight {
    color: rgb(93, 93, 255);
    padding: 0.2rem 0.5rem; /* Optional: added for better visual appearance */
    border-radius: 0.25rem; /* Optional: added to make the background have rounded corners */
}

.faq-item {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-left: 20px; /* Indentation for opened text */
  }
  
  input[type="checkbox"]:checked + label + .faq-content {
    max-height: 100vh;
  }
  